html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.oscuro {
  background-color: #151515 !important;
  color: whitesmoke !important;
  transition: background-color 500ms ease, color 500ms ease; }
  .oscuro .modal-content {
    color: black !important; }

.oscuroA {
  color: whitesmoke !important;
  text-decoration: none; }

.oscuroFooter {
  background-color: #62459d; }

header {
  box-shadow: lightgrey 2px;
  box-shadow: 1px 1px grey; }
  header .navbar-collapse {
    justify-content: flex-end;
    padding-right: 0.5%; }
    header .navbar-collapse .navbar-nav {
      padding: 1%; }
      header .navbar-collapse .navbar-nav .productoEnCarrito {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        border-bottom: 1px solid lightgrey; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .idCarrito {
          display: none; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .imgCarrito {
          height: 50px;
          width: 50px; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .nombreCarrito {
          margin-top: 3%;
          font-weight: 500; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .cantidadCarrito {
          margin-top: 3%; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .precioCarrito {
          margin-top: 3%;
          font-weight: bold; }
        header .navbar-collapse .navbar-nav .productoEnCarrito .boton-eliminar:hover {
          color: red;
          cursor: pointer;
          transition: color 200ms ease; }
      header .navbar-collapse .navbar-nav #precioTotal {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5rem; }

#switchMode {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 90px;
  left: 20px; }
  #switchMode #lightModeBtn {
    border-radius: 50%;
    z-index: 100; }
    #switchMode #lightModeBtn:hover {
      cursor: pointer; }
  #switchMode #darkModeBtn {
    border-radius: 50%;
    z-index: 100; }
    #switchMode #darkModeBtn:hover {
      cursor: pointer; }

#whatsappRedirect {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 65px;
  right: 35px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }
  #whatsappRedirect .fa-whatsapp {
    margin-top: 14px;
    margin-left: 2px;
    color: white !important; }
  #whatsappRedirect:hover {
    box-shadow: 2px 2px grey;
    cursor: pointer; }

footer {
  background-color: mediumpurple;
  margin-top: auto;
  margin-bottom: 0;
  max-height: 15vh; }
  footer ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 0; }
    footer ul img {
      width: 7%;
      margin-left: 15%; }
    footer ul a {
      color: inherit;
      text-decoration: none; }
    footer ul .instaFollow {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      footer ul .instaFollow h2 {
        font-size: 1.2rem; }
    footer ul .links {
      margin-right: 1%; }

.landingCarousel {
  padding-bottom: 2%;
  height: 86.5vh !important; }
  .landingCarousel #carruselMain {
    height: 100%; }
    .landingCarousel #carruselMain .carousel-inner {
      height: 100% !important; }
      .landingCarousel #carruselMain .carousel-inner .carousel-item {
        height: inherit; }
        .landingCarousel #carruselMain .carousel-inner .carousel-item .w-100 {
          height: inherit; }

.productosLanding {
  text-align: center;
  font-style: italic;
  padding-bottom: 1%; }

#tipoProd {
  width: 100%;
  margin-bottom: 0.6rem;
  text-align: center; }

#landingCards {
  justify-content: center;
  padding-bottom: 2%;
  width: 100%; }
  #landingCards .row {
    justify-content: center; }
    #landingCards .row .card {
      background-color: inherit !important;
      border-color: lightgrey; }
      #landingCards .row .card img {
        width: 100%;
        height: 30vh; }
      #landingCards .row .card .card-title {
        font-size: 1.1rem; }
      #landingCards .row .card .card-text {
        font-size: 0.9rem; }
      #landingCards .row .card .extra-text {
        font-size: 0.8rem; }
      #landingCards .row .card .btnAgregar {
        align-items: flex-end; }

#formCliente {
  padding-bottom: 3%; }
  #formCliente #btnEnviar {
    margin-left: 45%;
    width: 200px; }
